---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import RoadmapCard from "@components/roadmap-card.astro";

---

<Layout title="Roadmap">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Roadmap</Fragment>
      <Fragment slot="desc">
        Our development timeline and upcoming features for YapBay.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      <RoadmapCard
        quarter="Q2 2025"
        status="in-progress"
        title="Build MVP on Sui"
        description="Build an MVP on Sui using Move as part of the Overflow hackathon."
        progress={70}
      />

      <RoadmapCard
        quarter="Q2 2025"
        status="in-progress"
        title="Build MVP on Celo L2"
        description="Build a new MVP (contracts, API, frontend, pricing, etc) & deploy on Celo Alfajores."
        progress={10}
      />

      <RoadmapCard
        quarter="Q2 2025"
        status="planned"
        title="Get Public Feedback on MVP"
        description="Do detailed UX testing with community traders and identify action items."
        progress={10}
      />

      <RoadmapCard
        quarter="Q3 2025"
        status="planned"
        title="Add Post-MVP Features"
        description="Add payment methods, chat, better pricing and fixes from the public feedback."
        progress={10}
      />

      <RoadmapCard
        quarter="Q3 2025"
        status="planned"
        title="Deploy to Celo L2 Mainnet"
        description="Deploy a public alpha to Celo mainnet with a 100 USDC trade limit."
        progress={10}
      />

      <RoadmapCard
        quarter="Q4 2025"
        status="planned"
        title="Build First 2 Corridors"
        description="Achieve 100 transactions via a focus on VE and NG thru email, vertical video, WarpCast & X."
        progress={10}
      />

      <RoadmapCard
        quarter="Q4 2025"
        status="planned"
        title="Launch Trust Features"
        description="Add trusted/blocked traders, Civic integration and trust network MVP."
      />

       <RoadmapCard
        quarter="Q1 2026"
        status="planned"
        title="Trader Referral Program"
        description="Build a viral trader referral program (if no public goods funding)."
      />

      <RoadmapCard
        quarter="Q1 2026"
        status="planned"
        title="Build Quick-Remittance Widget"
        description="Build an AI widget to find the best remittance offers based on user preferences."
      />

      <RoadmapCard
        quarter="Q2 2065"
        status="planned"
        title="Achieve 10,000 Transactions"
        description="Host virtual/IRL meetups, track leads and grow the user base via AMAs and talks."
      />

      <RoadmapCard
        quarter="Q2 2026"
        status="planned"
        title="Combo Remittances Marketplace"
        description="Develop a marketplace of good & services in selected corridors."
      />

      <RoadmapCard
        quarter="Q3 2026"
        status="planned"
        title="Smart Contract Audit"
        description="Have the smart contracts audited at a reasonable price."
      />
    </div>
  </Container>
</Layout>