---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import RoadmapCard from "@components/roadmap-card.astro";

---

<Layout title="Roadmap">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Roadmap</Fragment>
      <Fragment slot="desc">
        Our development timeline and upcoming features for YapBay.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      <RoadmapCard
        quarter="Q2 2025"
        status="in-progress"
        title="MVP on Sui"
        description="Build an MVP on Sui using Move as part of the Overflow hackathon."
        progress={70}
      />

      <RoadmapCard
        quarter="Q2 2025"
        status="in-progress"
        title="MVP on EVM"
        description="Build a new MVP in Solidity and deploy on a TBD EVM chain."
        progress={10}
      />

      <RoadmapCard
        quarter="Q3 2025"
        status="in-progress"
        title="Build First 2 Corridors"
        description="Develop a community of traders in our first two corridors and achieve 100 transactions."
        progress={10}
      />

      <RoadmapCard
        quarter="Q4 2025"
        status="planned"
        title="Launch Trust Features"
        description="Add trusted/blocked traders, Civic integration and trust network MVP."
      />

      <RoadmapCard
        quarter="Q4 2025"
        status="planned"
        title="Trader Referral Program"
        description="Build and deploy the viral trader referral program and dashboard."
      />

      <RoadmapCard
        quarter="Q1 2026"
        status="planned"
        title="Combo Remittances Marketplace"
        description="Develop a marketplace of good & services in selected corridors."
      />
    </div>
  </Container>
</Layout>