---
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Low-Cost Remittances",
    description:
      "Bypass TradFi fees, paperwork and limits to remit money home fiat-to-fiat using any payment method.",
    icon: "fluent:money-24-regular",
  },
  {
    title: "Secure Escrow System",
    description:
      "Sequential escrow ensures each step of your transaction is safe and secure, protecting all parties involved. Dispute resolution included.",
    icon: "fluent:checkmark-lock-24-regular",
  },
  {
    title: "Global & Borderless",
    description:
      "Effortlessly connect with payment solutions spanning multiple countries and financial networks, free from TradFi restrictions.",
    icon: "fluent:globe-24-regular",
  },
  {
    title: "Community-Led",
    description:
      "Join a community-governed P2P ecosystem focused on financial inclusion and empowerment. Grow, learn and earn.",
    icon: "fluent:people-community-24-regular",
  },
  {
    title: "Open Source and Transparent",
    description:
      "Benefit from an open-source Web3 smart-contract-based network that prioritizes transparency and accessibility.",
    icon: "fluent:book-open-24-regular",
  },
  {
    title: "KYC-Free Web3 Protocol",
    description:
      "Avoid unnecessary paperwork and complications with our smart-contract-based remittances protocol.",
    icon: "fluent:protocol-handler-24-regular",
  },
];
---

<!-- <div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We have got more awesome <span class="text-primary-600">features</span>
  </h2>
  <p class="text-lg mt-4 text-neutral-600">
    Use this section to highlight not so important features of your product.
  </p>
</div> -->
<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="primary">FEATURES</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    Empowering Global Transactions
  </h2>
  <p class="text-lg mt-4 text-neutral-600 text-center [text-wrap:pretty]">
    YapBay empowers you to make fast, cost-effective borderless transactions for a new era of financial inclusion.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-neutral-200 hover:border-neutral-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-primary-100 border shadow shadow-primary-100/50 border-primary-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-primary-500" name={item.icon} size={24} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-neutral-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
