---
const { frontmatter: _frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{frontmatter.title}</Fragment>
      <Fragment slot="desc">
        Last updated on {frontmatter.date}
      </Fragment>
    </Sectionhead>

    <div class="mx-auto prose mt-10">
      <slot />
    </div>
  </Container>
</Layout>
